<h1>Новая задача</h1>
<% form_for @task do |form| %>
  задача:<br />
  <%= form.text_field :name %><br/>
  описание:<br />
  <%= form.text_area :description, :rows => 6 %><br />
  крайний срок:
  <%= form.date_select :date, :order => [:day, :month, :year], :start_year => 2008, :end_year => 2011 %><br />
  выполнено:
  <%=form.check_box:completed %> <br/>
  <br/>
  <%= form.submit 'Добавить' %>
<% end %>